<p><%= @vehicle.vehicle_year %> <%= @vehicle.vehicle_make %> <%= @vehicle.vehicle_model %></p>

<div class="availabilities-container">
  <% @availabilities.each do |avail| %>
    <div class="weekday-time">
      <%= avail.weekday %>
      <%= avail.start_time %>
      <%= avail.end_time %>

      <%= link_to "Edit Availability", edit_vehicle_availability_path(@vehicle, avail) %>
    </div><br>
  <% end %>
</div>
