<!-- <div class="">
  <h2 class=''></h2> <h2 class=''></h2>
</div> -->

<div class="edit-user-container">

  <%= form_for current_user do |f| %>
    <%if current_user.errors.any? %>
      <div class="error_messages">
        <h2>Entry is invalid</h2>
        <ul>
          <% current_user.errors.full_messages.each do |message| %>
            <li> <%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <!-- <div class="">
    <h2>Account Info</h2>
    <div class="">
      <%#= f.label :password %>
      <%#= f.password_field :password %>
    </div>
    <div class="">
      <%#= f.label :password_confirmation %>
      <%#= f.password_field :password_confirmation %>
    </div>
  </div> -->

  <div class="edit-user-form">

      <div class="user-attr">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </div>

      <div class="user-attr">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </div>

      <div class="user-attr">
        <%= f.label :phone_number %>
        <%= f.telephone_field :phone_number %>
      </div>

      <div class="user-attr">
        <%= f.label :date_of_birth %>
        <%= select_year(Date.today, start_year: 1920, end_year: 1998) %>
        <%= select_month DateTime.now %>
        <%= select_day DateTime.now  %>
      </div>

      <div class="signup-button edit-button">
        <%= f.submit 'Submit', class: "signup-button" %>
      </div>

  </div>
<% end %>
</div>

<!-- <div class="">

  <h1>Login</h1>

  <button type="button" class="close-button">x</button>
  <%= form_tag sessions_path do%>
  <div class="">
    <%= label_tag :email %><%= text_field_tag :email, params[:email] %>
  </div>
  <div class="">
    <%= label_tag :password %><%= password_field_tag :password %>
  </div>
  <div class="login-button">
    <%= submit_tag "Login", class: "login-button" %>
  </div>
</div>
<% end %> -->

<!-- <div class="homepage-search">
	<%= form_tag vehicles_path, method: :get, class: "navbar-form navbar-left search-form" do %>
	  <%= text_field_tag(
	      :search,
	      params[:search],
	      placeholder: "Where would you like to go?",
	      class: "homepage-form-control"
	  ) %>
		 <%= submit_tag "Search", class: "btn-btn-primary" %>
	<% end %>

  <% if @vehicles.present? %>
    <% render :vehicles %>
  <% end %>
</div> -->
