<!DOCTYPE html>
<html>
	<head>
		<title>Beep</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<style>
			#map {
				width: 100%;
				height: 400px;
				background-color: grey;
			}
		</style>
	</head>

	<body>
		<header>
			<h1>Beep</h1>
			<ul>
				<li><a href="/vehicles">Vehicles</a></li>
				<li><a href="/users">Profile</a></li>
				<li><a href="/users/new">Log In</a></li>
				<li><a href="/users/new">Sign Up</a></li>
			</ul>
		</header>
		<% if flash[:notice]%>
			<p><%=flash[:notice]%></p>
		<% end %>
		<%= yield %>
	</body>
</html>
