<!DOCTYPE html>
<html>
	<%= render partial: '/layouts/head' %>

	<body>
		<header class="nav-bar">
			<h1 class="beep-title"><%= link_to 'Beep', new_user_path %></h1>
			<ul class="nav-links">
				<div class="dropdown">
					<i class="fa fa-bars" id="drop-menu-icon" aria-hidden="true"></i>
					<div class="dropdown-contents">
						<a href="/vehicles">Vehicles</a>
						<a href="/user">Profile</a>
						<a href="/vehicles/new">Add a Vehicle</a>
					</div>
			  </div>
				<% if current_user %>
					<li class="nav-login">Hello <%= current_user.first_name %> | <%= link_to 'Log Out', sessions_path, method: :delete %></li>
				<% else %>
					<li class="nav-login"><%= link_to 'Log In', new_user_path %> | <%= link_to 'Sign Up', new_user_path %></li>
				<% end %>
    	</ul>

    </header>


		<% if flash[:notice]%>
			<p><%=flash[:notice]%></p>
		<% end %>
		<%= yield %>
		<footer>  Beep &copy; 2016 </footer>
	</body>
</html>
