<!DOCTYPE html>
<html>
	<head>
		<title>Beep</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
    <script src="https://use.fontawesome.com/2fd75991c7.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
	</head>

	<body>
		<header class="nav-bar">
			<h1 class="beep-title">Beep</h1>
			<ul class="nav-links">
        <i class="fa fa-bars" id="drop-menu-icon" aria-hidden="true"></i>
				<% if current_user %>
					<li class="nav-login">Hello <%= current_user.first_name %> | <%= link_to 'Log Out', sessions_path, method: :delete %></li>
				<% else %>
					<li class="nav-login"><%= link_to 'Log In', new_users_path %> | <%= link_to 'Sign Up', new_users_path %></li>
				<% end %>
      </ul>
    </header>

			<a href="/vehicles">Vehicles</a> | <a href="/users">Profile</a><br>
			<a href="/vehicles/new">Add a Vehicle</a>
		<% if flash[:notice]%>
			<p><%=flash[:notice]%></p>
		<% end %>
		<%= yield %>
	</body>
</html>
