<!DOCTYPE html>
<html>
	<head>
		<title>Beep</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<header>
			<h1 class="app-title">Beep</h1>
			<ul class="navigation-bar">
				<li><a href="/vehicles">Vehicles</a></li>
				<li><a href="/users">Profile</a></li>
				<li><a href="/users/new">Log In</a></li>
				<li><a href="/users/new">Sign Up</a></li>
			</ul>
			<% if current_user %>
				<div class="user-logged-in">
					Hello <%= current_user.first_name %>
				</div>
			<% end %>
		</header>
		<% if flash[:notice]%>
			<p><%=flash[:notice]%></p>
		<% end %>
		<%= yield %>
	</body>
</html>
