<!DOCTYPE html>
<html>
	<head>
		<title>Beep</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<header>
			<h1 class="app-title">Beep</h1>
			<ul class="navigation-bar">
				<li><a href="/vehicles">Vehicles</a></li>
				<li><a href="/users">Profile</a></li>
				<% if current_user %>
					<li><p>Hello <%= current_user.first_name %> | <%= link_to 'Log Out', sessions_path, method: :delete %></p></li>
				<% else %>
					<li><p><%= link_to 'Log In/Sign Up', new_users_path %></p></li>
				<% end %>
			</ul>
		</header>
		<% if flash[:notice]%>
			<p><%=flash[:notice]%></p>
		<% end %>
		<%= yield %>
	</body>
</html>
