<% if @reservation.errors.any? %>
  <div>
    <h2><%= pluralize(@reservation.errors.count, "error") %></h2>

    <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div>
<%= form_for [@vehicle, @reservation] do |f| %>
<% f.hidden_field :vehicle_id, value: @vehicle.id %>

  <div>
    <%= f.label "Number of Passengers:" %>
    <%= f.number_field :seats %>
  </div>

  <div class="">
    <%= f.label "Date" %>
    <%= select_month DateTime.now %>
    <%= select_day DateTime.now  %>
    <%= select_year DateTime.now %>
  </div>

  <div class="">
    <%= f.label "Start Time" %>
    <%= select_hour DateTime.now %>
    <%= select_minute DateTime.now  %>
  </div>

  <div>
    <%= f.label "Start Location:" %>
    <%= f.text_field :start_location %>
  </div>

  <div>
    <%= f.label "Destination:" %>
    <%= f.text_field :destination %>
  </div>

  <div class="button">
    <%= f.submit %>
  </div>

<% end %>
</div>
