<% if @reservation.errors.any? %>
  <div>
    <h2><%= pluralize(@reservation.errors.count, "error") %></h2>

    <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div>
<%= form_for [@vehicle, @reservation] do |f| %>
<% f.hidden_field :vehicle_id, value: @vehicle.id %>

  <div>
    <%= f.label "Date:" %>
    <%= f.date_field :date %>
  </div>

  <div>
    <%= f.label "Number of Passengers:" %>
    <%= f.number_field :seats %>
  </div>

  <div>
    <%= f.label "Start Time:" %>
    <%= f.time_field :start_time %>
  </div>

  <div>
    <%= f.label "Star Location:" %>
    <%= f.text_field :start_location %>
  </div>

  <div>
    <%= f.label "Destination:" %>
    <%= f.text_field :destination %>
  </div>

  <div class="button">
    <%= f.submit %>
  </div>

<% end %>
</div>
