<h1><%= @vehicle.owner.first_name %>'s Vehicle's Reservations</h1>

<% @vehicle.reservations.each do |reservation| %>
  <p>Date: <%= reservation.date.to_date %></p>
  <p>Start Time: <%= reservation.start_time %></p>
  <p>Start Location: <%= reservation.start_location %></p>
	<p>Destination: <%= reservation.destination %></p>

<% end %>
