<h1><%= @vehicle.owner.first_name %>'s Vehicle's Reservations</h1>

<% if current_user == @vehicle.owner %>
  <% @vehicle.reservations.each do |reservation| %>
    <p>Date: <%= reservation.start_time.strftime("%A %B %d, %Y") %></p>
    <p>Start Time: <%= reservation.start_time.in_time_zone('Eastern Time (US & Canada)').strftime("%l:%M %p") %></p>
    <p>Start Location: <%= reservation.start_location %></p>
  	<p>Destination: <%= reservation.destination %></p>
    <p>Number of Passengers: <%= reservation.seats %></p>
    <% end %>
<% else %>
  <p>Sorry, only owner's have access to their vehicle's reservations</p>
<% end %>
