<%= link_to "Back to Reservation", vehicle_reservations_url(@vehicle) %>

<h2>Your Reservation</h2>

<p>Date: <%= @reservation.date.to_date %><br>
Start Time: <%= @reservation.start_time %><br>
Start Location: <%= @reservation.start_location %><br>
Destination: <%= @reservation.destination %></p>
