<h2>Your Reservation</h2>

<p>Date: <%= @reservation.start_time.strftime("%A %B %d, %Y") %></p>
<p>Start Time: <%= @reservation.start_time.strftime("%l:%M %p") %></p>
<p>Start Location: <%= @reservation.start_location %></p>
<p>Destination: <%= @reservation.destination %></p>
<p>Number of Passengers: <%= @reservation.seats %></p>

<%= link_to "Edit Reservation", edit_vehicle_reservation_path(@vehicle, @reservation) %>
<%= link_to "Delete Reservation", vehicle_reservation_path(@vehicle, @reservation), method: :delete %>
