<div class="search-background">


	<div class="search-header">


		<div class="vehicle-search">
			<h1 id='slogan2'>Enjoy a carefree ride. </h1>
			<%= form_tag vehicles_path, method: :get, class: "search-bar" do %>
				<%= text_field_tag(
						:search,
						params[:search],
						placeholder: "Where would you like to travel?",
						class: "form-control search-bar",


				) %>
				 <%= submit_tag "Search", class: "btn btn-primary ttl" %>
			<% end %>
		</div>
  </div>
	<h3 class="map-title">Vehicle Locator</h3>
	<div id="map"></div>

		<script>
			function initMap() {
				var toronto = {lat: 43.7184038, lng: -79.5181441};
				var map = new google.maps.Map(document.getElementById('map'), {
					zoom: 12,
	        scrollwheel: false,
					center: toronto,
          styles: [
            {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: '#263c3f'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#38414e'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: '#212a37'}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: '#9ca5b3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: '#746855'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: '#1f2835'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: '#f3d19c'}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: '#2f3948'}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#17263c'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: '#515c6d'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: '#17263c'}]
            }
          ]
				});

				var geocoder = new google.maps.Geocoder();
				var vehicles = [];
				$.each($('.vehicle-address'), function (index, vehicle) {
					vehicles.push(vehicle.innerHTML);
				});

				for (var i = 0; i < vehicles.length; i++) {
					geocoder.geocode({'address': vehicles[i]}, function(results, status) {
						if (status === 'OK') {
							map.setCenter(results[0].geometry.location);
							var marker = new google.maps.Marker({
								map: map,
								position: results[0].geometry.location
								});
						} else {
							alert('Geocode was not successful for the following reason: ' + status);
						}
					});
				}
			}
		</script>

		<div class="vehicle-index">
		<h1 id='avail-header'>Available Vehicles</h1>
		<% if @vehicles.present? %>
		<% else %>
			<p id='no-search-results'>Sorry there are no vehicles available in your area.</p>
		<% end %>
			<% @vehicles.each do |vehicle| %>
				<article class="vehicle-container">
		      <div class="vehicle-text">
		  			<h2><%= vehicle.owner.first_name %>'s - <%= vehicle.vehicle_year %> <%= vehicle.vehicle_make %> <%= vehicle.vehicle_model %></h2>
		  			<h3>Seats: <%= vehicle.seats %></h3>
		  			<h3>Address: <span class="vehicle-address"><%= vehicle.street_address %>, <%= vehicle.city %></span></h3>
		    		<ul ><li class='vehicle-link'><%= link_to 'Vehicle Page', vehicle_path(vehicle) %> </li> <li class='vehicle-link'> <%= link_to 'Reserve Vehicle', new_vehicle_reservation_path(vehicle) %></li></ul>
		      </div>
				</article>
			<% end %>
		</div>
</div>
<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-Sq6ZBy9oC33y1vxqvw6p42Yw-UUfwws&callback=initMap">
</script>

<script type="text/javascript">
  if ($("#search").val() != "") {
    $('html,body').animate({
      scrollTop: $("#avail-header").offset().top
    });
  }
</script>
