<div class="vehicle_show_container">

  <h1 class="owner-title"><%= @vehicle.owner.first_name %>'s Ride</h1>
  <article class="vehicle-details">
    <div class="vehicle-descrip">

      <h2><%= @vehicle.vehicle_year %> <%= @vehicle.vehicle_make %> <%= @vehicle.vehicle_model %></h2>
      <div class="vehicle-image">
        <%= image_tag "#{@vehicle.image}" %>
      </div>
    	<h3><span>Seats</span> <%= @vehicle.seats %></h3>
    	<h3><span>Address</span> <%= @vehicle.street_address %></h3>
    	<h3><span>City</span> <%= @vehicle.city %></h3>
    	<h3><span>Province</span> <%= @vehicle.province %></h3>
    	<h3><span>Postal Code</span> <%= @vehicle.postal_code %></h3>
      <% if current_user != @vehicle.owner %>
        <p class="res-btn"><%= link_to 'Make a Reservation', new_vehicle_reservation_path(@vehicle) %></p>
      <% end %>
      <p class="map-btn">See Car on Map</p>
    </div>
  </article>

  <div class="map-div">
    <div id="map"></div>

  	<script>
  		function initMap() {
  			var map = new google.maps.Map(document.getElementById('map'), {
  				zoom: 16,
          scrollwheel: false,
          mapTypeControl: true,
          mapTypeControlOptions: {
            style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
          },
          styles: [
            {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: '#263c3f'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#38414e'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: '#212a37'}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: '#9ca5b3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: '#746855'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: '#1f2835'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: '#f3d19c'}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: '#2f3948'}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#17263c'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: '#515c6d'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: '#17263c'}]
            }
          ]
  			});

  			var geocoder = new google.maps.Geocoder();
  			var vehicle = "<%= @vehicle.street_address %>, <%= @vehicle.city %>, <%= @vehicle.province %>";

  			geocoder.geocode({'address': vehicle}, function(results, status) {
  				if (status === 'OK') {
  					map.setCenter(results[0].geometry.location);
  					var marker = new google.maps.Marker({
  						map: map,
  						position: results[0].geometry.location
  						});
  				} else {
  					alert('Geocode was not successful for the following reason: ' + status);
  				}
  			});
  		}
  	</script>
  </div>

  <section class="availabilities-container">
    <h3>Availability</h3>
    <div class="availability-container">
      <% weekdays = ["Monday", "Tuesday", "Wednesday","Thursday", "Friday", "Saturday", "Sunday"] %>
      <% weekdays.each do |day| %>
      <% availability = @vehicle.availabilities.find_by(weekday: day) %>
      <div class="weekday-time">
        <li class="availability-weekday">
          <%= day %>
        </li>
        <li id="availability-start">
          <p>
            <%= availability.start_time %>
          </p>
          <p class="availability-p">Availability Start</p>
        </li>
        <li id="availability-end">
          <p>
            <%= availability.end_time %>
          </p>
          <p class="availability-p">Availability End</p>
        </li>
        <% if current_user == @vehicle.owner %>
          <%= link_to "Edit Availability", edit_vehicle_availability_path(@vehicle, availability) %>
        <% end %>
      </div>
      <% end %>

    </div>
  </section>

  <section class="vehicle-reservations">
    <% if current_user == @vehicle.owner %>
      <h2>Your Vehicle's Reservations</h2>
      <% @vehicle.reservations.each do |reservation| %>
      <div class="vehicle-container-reservations">
        <ul>
          <li><span>Date</span> <%= reservation.start_time.strftime("%A %B %d, %Y") %> : <%= reservation.start_time.in_time_zone('Eastern Time (US & Canada)').strftime("%l:%M %p") %></li>
          <li><span>From</span> <%= reservation.start_location %></li>
          <li><span>To</span> <%= reservation.destination %></li>
        </ul>
      <% end %>
      <p><%= link_to 'Edit Vehicle', edit_vehicle_path(@vehicle) %></p>
      <p><%= link_to 'Delete Vehicle', vehicle_path(@vehicle), method: :delete %></p>
      </div>
    <% end %>
  </section>
</div>


<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-Sq6ZBy9oC33y1vxqvw6p42Yw-UUfwws&callback=initMap">
</script>
