<h1> Edit Info </h1>
<div class="edit-profile">

<%= form_for @user do |f| %>

  <div class="">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <% end %>
</div>
