
<% if current_user %>

  <section>
      <h2>Reservations</h2>
      <% current_user.trips.each do |trip| %>
        <h3>Date: <%= trip.start_time.strftime("%A %B %d, %Y") %></h3><h3>Time: <%= trip.start_time.strftime("%l:%M %p") %></h3>
        <h3>From: <%= trip.start_location %></h3>
        <h3>To: <%= trip.destination %></h3>
        <h3>Number of Passengers: <%= trip.seats %></h3>
        <p><%= link_to 'Edit Reservation', edit_vehicle_reservation_path(trip.vehicle_id, trip) %></p>
        <p><%= link_to 'View Reservation', vehicle_reservation_path(trip.vehicle_id, trip) %></p>
        <p><%= link_to 'Delete Reservation', vehicle_reservation_path(trip.vehicle_id, trip), method: :delete %></p>
      <% end %>
  </section>

  <section>
    <% if current_user.owned_vehicles.any? do |vehicle| %>
      <h2><%= current_user.first_name %>'s Vehicle</h2>
        <li><h3><%= vehicle.vehicle_year %> <%= vehicle.vehicle_make %> <%= vehicle.vehicle_model %></h3></li>
        <p><%= link_to 'Vehicle Page', vehicle_path(vehicle) %></p>
        <p><%= link_to 'Edit Vehicle', edit_vehicle_path(vehicle) %></p>
        <p><%= link_to 'Delete Vehicle', vehicle_path(vehicle), method: :delete %></p>
      <% end %>
    <% end %>
  </section>

<% end %>
