<%= form_for [@vehicle, @availability] do |f| %>

  <% if @availability.errors.any? %>
    <div class="error_messages">
      <ul>
        <% @availability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="vehicle_availability_form">
  	<div class="availability-form-input">
  		<% f.hidden_field :vehicle_id, value: @vehicle.id %>
  	</div>
  	<div class="availability-form-input availability-weekday-title">
      <%= @availability.weekday %>
  	</div>
    <li id="availability-start">
    	<div class="availability-form-input">
    		<p>
          <%= f.number_field :start_time %>
        </p>
        <p class="availability-p">
          <%= f.label :start_time %>
        </p>
    	</div>
    </li>
    <li id="availability-end">
    	<div class="availability-form-input">
        <p>
          <%= f.number_field :end_time %>
        </p>
        <p class="availability-p">
      		<%= f.label :end_time %>
        </p>
    	</div>
    </li>
  	<div class="button"><%= f.submit %></div>
  </div>
<% end %>
