<main>
  <div class="availabilities-index">
    <section class="availabilities-container">
      <h3><%= @vehicle.vehicle_year %> <%= @vehicle.vehicle_make %> <%= @vehicle.vehicle_model %> <br>Availability</h3>
      <div class="availability-container">
        <% weekdays = ["Monday", "Tuesday", "Wednesday","Thursday", "Friday", "Saturday", "Sunday"] %>
        <% weekdays.each do |day| %>
        <% availability = Availability.find_by(weekday: day) %>
        <div class="weekday-time">
          <li class="availability-weekday">
            <%= day %>
          </li>
          <li id="availability-start">
            <p>
              <%= availability.start_time %>
            </p>
            <p class="availability-p">Availability Start</p>
          </li>
          <li id="availability-end">
            <p>
              <%= availability.end_time %>
            </p>
            <p class="availability-p">Availability End</p>
          </li>
          <%= link_to "Edit Availability", edit_vehicle_availability_path(@vehicle, availability) %>

        </div>
        <% end %>

      </div>
    </section>
  </div>
</main>
