<!DOCTYPE html>
<html>
	<%= render partial: '/layouts/head' %>

	<body class="body-container">
		<header class="header">
      <div class="nav-bar">
  			<h1 class="beep-title"><%= link_to 'Beep', new_user_path %></h1>
  			<ul class="nav-links">
  				<div class="dropdown">
  					<i class="fa fa-bars" id="drop-menu-icon" aria-hidden="true"></i>
  					<div class="dropdown-contents">
              <%= render partial: '/layouts/dropdown_menu' %>
            </div>
          </div>
        </ul>
      </div>

      <div class="login-buttons-header">
				<% if current_user %>
					<li class="nav-login nav-login-search">Hello <%= current_user.first_name %> &nbsp; <span class="login-line">|</span> &nbsp; <%= link_to 'Log Out', sessions_path, method: :delete %></li>
				<% else %>
					<li class="nav-login nav-login-search"> <span id="login-nav">  <%= link_to 'Log In', new_user_path %> </span> &nbsp; <span class="login-line">|</span> &nbsp;<span id="signup-nav"> <%= link_to 'Sign Up', new_user_path %> </span> </li>
				<% end %>
      </div>

    </header>


		<!-- <% if flash[:notice]%>
			<p><%=flash[:notice]%></p>
		<% end %> -->
		<%= yield %>
    <footer class="footer">
      <a href="https://www.facebook.com/">
        <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
      </a>
      <a href="https://www.instagram.com/">
        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
      </a>
      <a href="https://www.twitter.com/">
        <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
      </a>
      <p>Beep &copy; 2017</p>
    </footer>
	</body>
</html>
