<!DOCTYPE html>
<html>
  <%= render partial: '/layouts/head' %>

	<body class="body-container">

    <header class="main-nav-bar">
      <h1 class="beep-title" id="logo-icon"><%= link_to 'Beep', new_user_path %></h1>
      <ul class="nav-links">
        <div class="dropdown">
          <i class="fa fa-bars" id="main-drop-menu-icon" aria-hidden="true"></i>
          <div class="dropdown-contents" id="main-drop-menu">
            <%= render partial: '/layouts/dropdown_menu' %>
          </div>
        </div>
      </ul>
    </header>



		<% if flash[:notice]%>
			<p><%=flash[:notice]%></p>
		<% end %>
		<%= yield %>
    <footer class="homepage-footer footer">
      <a href="https://www.facebook.com/">
        <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
      </a>
      <a href="https://www.instagram.com/">
        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
      </a>
      <a href="https://www.twitter.com/">
        <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
      </a>
      Beep &copy; 2017
    </footer>
  </body>
</html>
